
<!DOCTYPE html>

<html lang="en">
    <head>
        
        <title>CAMINO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {%load static %}
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        
        <link href="{% static 'css/index.css' %}" rel="stylesheet" >
        
    </head>
    <body background="{% static 'images/background.png' %}">
        
        <header class="header bg-light" >
            <div class="row">
                
                <div class="col-6 col-md-6">
                    <h2 class="header1">CAMINO INFOTECH</h2>
                </div>

                <div class="col-6 col-md-6">
                    <nav class="navbar navbar-light navbar-brand " >
                        <div class="container-fluid">
                            <div  class="logo">
                                <button class="btn btn-primary" ">
                                    <a href="login/" >
                                        <i class="fa-solid fa-arrow-right-to-bracket icon "  title="login" alt="login" ></i>
                                    </a>
                                </button>
    
                            </div>

                        </div>
                         
                    </nav>
                </div>

            </div>

        </header>

        </section>
        <section class="section1">
                <div class="container">
                    <div class="row1" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        <h1>Build your brand success</h1>

                    </div>
                    <div class="row2" style="font-family:'Times New Roman', Times, serif ;">
                        <h3>About Camino:</h3>
                    </div>
                    <div class="container">
                        <div class="row3" style=" font-family: 'Times New Roman', Times, serif;">
                            <h4 style="font-size:18px ;">
                                CAMINO is a leading global information technology, business process and services company. We employ the power of hyper-automation, robotics, cloud, analytics and emerging technologies to help our clients to modify the digital world and make them successful. Together, we discover ideas and connect the dots to build a better and a bold new future. We are a bunch of technology enthusiastic, fun-loving people, with happily growing customers and staff, building advanced tools, services, and interfaces for data. We always believe in three important factors which are quality, value and time. 
                            </h4>
                            <h3> Please Login For More Information</h3>
                        
                        </div>
                    </div>
                </div>


        </section>
        <foot class="footer" >
            <div class="container-fluid">
                <di class="row text-center text" > 
                    <div class="col-12">
                        <a href="#" style="text-decoration:none ; "class="footer-spacing">
                            <i class="fa-brands fa-facebook text-dark"></i>
                        </a>
                        <a href="#" style="text-decoration:none ; " class="footer-spacing">
                            <i class="fa-brands fa-whatsapp text-dark"></i>
                        </a>
                        <a href="#" style="text-decoration:none ;" class="footer-spacing">
                            <i class="fa-solid fa-envelope-circle-check text-dark"></i>
                        </a>
                        <a href="#" style="text-decoration:none ;" class="footer-spacing">
                            <i class="fa-brands fa-instagram text-dark"></i>
                        </a>
                        <p><i class="fa-solid fa-copyright"></i> copyright</p>
                    </div>
        
                </di>
        
            </div>
        
        </foot>

                
        

        
    <script src="https://kit.fontawesome.com/01bc730358.js" crossorigin="anonymous"></script> <!-- fontawesome icon -->    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>